@{
    Layout = "~/Views/Shared/SignLogLayout.cshtml";
}

<div class="text-center" style="margin-bottom: 150px">
    <h1>Congratulations</h1>
    <p>Your booking is completed, please check your email for detail information !</p>
    <a href="@Url.Action("Index", "HomePage")" class="btn btn-primary">Okey</a>
</div>