
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SignLogLayout.cshtml";
}
@Styles.Render("~/Content/Item/Stepper.css")
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div class="container" style="padding-bottom:50px">
    <div class="accordion" id="accordionExample">
        <div class="steps">
            <progress id="progress" value="50" max="100"></progress>
            <div class="step-item">
                <button class="step-button text-center" type="button" onclick="openLink('#collapseOne')" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1
                </button>
                <div class="step-title">
                    First Step
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    2
                </button>
                <div class="step-title">
                    Second Step
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingOne">
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="card-body">
                    <div class="container rounded bg-white mt-5 mb-5">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
                            </div>
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Booking Setup</h4>
                                    </div>
                                    <form action="@Url.Action("BookingHotel", "Booking", new { IDHotel = Model[0].ID })" method="post">
                                        <div class="mb-3">
                                            <label class="form-label">First Name</label>
                                            <input type="text" class="form-control" name="FirstName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Last Name</label>
                                            <input type="text" class="form-control" name="LastName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Email address</label>
                                            <input type="email" class="form-control" aria-describedby="emailHelp" name="To">
                                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="headingTwo">

            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body">
                    .........................
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
@Scripts.Render("~/bundles/Stepper")
<script>
    function openLink(target) {
    // Assuming the target is not needed in this case
    window.location.href = '@Url.Action("Stays", "HomePage")';
    }
</script>