/* Adjust styling as needed */
#carouselPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

    #carouselPreview img {
        width: 60px;
        height: 40px;
        margin: 0 5px;
        cursor: pointer;
    }
