#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Set the dimensions and position of the video container */
.navbar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Use 100% of the viewport height */
    overflow: hidden;
}
.dropdown-menu {
    z-index: 1000; /* or a higher value */
}