
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mb-3" style="position:relative">
    <div class="mb-3">
        @Html.Action("NewLocaPartial", "HomePage")
    </div>
</div>

<div class="container mb-3" style="position:relative">
    <div class="mb-3">
        @Html.Action("TrendLocaPartial", "HomePage")
    </div>
</div>
<div class="container">
    <div class="mb-3" style="position:relative">
        <div class="col-6 mb-3">
            @Html.Action("TophotelPartial", "HomePage")
        </div>
        <div class="col-6 mb-3">
            @Html.Action("InforhotelPartial", "HomePage")
        </div>
    </div>
</div>
