@{
    ViewBag.Title = "ItemPage";
    Layout = "~/Views/Shared/ItemLayout.cshtml";
}
<div class="container">
    <div class="left">
        @Html.Action("SortItem", "HomePage")
    </div>
    <div class="separator"></div>
    <div class="right">
        @Html.Action("ListItem", "HomePage")
    </div>
</div>
