<div class="blockcode">
    <footer class="page-footer shadow">
        <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="align-self-center">
                    <a href="/#" class="d-flex align-items-center p-0 text-light">
                        <img alt="logo" src="https://seeklogo.com/images/B/beach-tour-logo-4505456896-seeklogo.com.png" width="100"/>
                        <span class="ms-3 h5 font-weight-bold" style="text-decoration:none">NT-Travel and Tourism</span>
                    </a>
                </div>
                <div>
                    <p class="h5 mb-4 text-light" style="font-weight: 600">NT-Travel and Tourism</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class="text-light" href="/">Resources</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">About Us</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Contact</a>
                        </li>
                        <li class="my-2"><a class="text-light" href="/">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <p class="h5 mb-4 text-light" style="font-weight: 600">Help</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class="text-light" href="/">Support</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign Up</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign In</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="h5 mb-4 text-light" style="font-weight: 600">Help</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class="text-light" href="/">Support</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign Up</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
            <small class="text-center mt-5 text-light">&copy; Devwares, 2020. All rights reserved.</small>
        </div>
    </footer>
</div>