<div class="col-9">
    <div class="card row col-12" style="width:940px">
        <img src="..." class="card col-4" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <a href="#" class="btn btn-primary col-2">Show prices</a>
    </div>
</div>
