<div>
    <div class="container row ">
        <div class="col-12">
            <div class="col-6" style="position:relative;top:20px">
                <h3 style="color:azure;font-weight:700">NT-Travel and Tourism</h3>
            </div>
        </div>
    </div>
</div>
