<div class="col-9">
    <div class="card" style="width:100%">
        <div class="card-body">
            <h5 class="card-title">Popular Filter</h5>
            <hr />
            <input type="checkbox" class="col-2" />
            <p class="card-text col-10">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
